body {
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Kaushan Script', cursive;
  padding-bottom: 5px;
  line-height: 1.5;
}

h1 {
  font-size: 5rem;
}

p {
  font-family: 'Biryani', sans-serif;
  line-height: 1.5;
}

.jumbotron {
  background-image: url("../images/bkg3.png");
  background-size: cover;
  text-align: center;
}

.title {
  margin: none;
  padding: none;
  text-align: center;
}

.instructions {
  margin-top: 2%;
}

.instruction-headers {
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
}

.user-interface {
  margin-top: 2%;
  position: relative;
}

.crystals {
  text-align: center;
}

.crystal-img {
  padding: 5% 0;
  width: 12%;
}

.crystal-img:hover {
  opacity: 50%;
  cursor: pointer;
}

.wins-losses {
  text-align: center;
}

.footer-img {
  text-align: center;
  width: 50%;
}

/* **************************************
MEDIA QUERIES
************************************** */
@media screen and (max-width: 1250px) {
  h1 {
    font-size: 5rem;
  }
}

@media screen and (max-width: 990px) {
  .instructions {
    max-width: 70%;
  }

  .user-interface {
    text-align: center;
  }

  p {
    font-size: 23px;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  .crystal-img {
    width: 18%;
  }

  .inst-1 {
    margin-bottom: 4%;
  }

  .inst-2 {
    margin-bottom: 4%;
  }

  .instruction-headers {
    font-size: 2rem;
  }
}

@media screen and (max-width: 860px) {
  h1 {
    font-size: 3rem;
  }
}
