body {
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Kaushan Script', cursive;
  padding-bottom: 5px;
  line-height: 1.5;
}

h1 {
  font-size: 7rem;
}

p {
  font-family: 'Biryani', sans-serif;
  line-height: 1.5;
}

.jumbotron {
  background-image: url("../images/bkg3.png");
  background-size: cover;
  text-align: center;
  margin-bottom: 0;
  z-index: 1;
}

.title {
  margin: 4% 0;
  text-align: center;
}

.instructions {
  margin-top: 2%;
}

.instruction-headers {
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
}

.user-interface {
  margin-top: 2%;
  position: relative;
}

.crystals {
  text-align: center;
}

.crystal-img {
  padding: 5% 0;
  width: 15%;
}

.crystal-img:hover {
  opacity: 50%;
  cursor: pointer;
}

.wins-losses {
  text-align: center;
}

.footer-img {
  text-align: center;
  width: 50%;
}



/* **************************************
MEDIA QUERIES
************************************** */
@media screen and (max-width: 1250px) {
  h1 {
    font-size: 5rem;
  }
}

@media screen and (max-width: 990px) {
  .instructions {
    max-width: 50%;
  }

  .user-interface {
    text-align: center;
  }
}

@media screen and (max-width: 860px) {
  h1 {
    font-size: 3rem;
  }
}
