h1, h2, h3, h4, h5, h6 {
  font-family: 'Kaushan Script', cursive;
  padding-bottom: 5px;
  line-height: 1.5;
}

p {
  font-family: 'Biryani', sans-serif;
  line-height: 1.5;
}

.jumbotron {
  background-image: url("../images/crystals-background1.png");
  background-size: cover;
  height: 50%;
  text-align: left;
  margin-bottom: 0;
  z-index: 1;
}

.instructions {
  margin: 7% 0;
  padding: 0 7%;
  color: white;
}

.user-interface {
  margin-top: 4%;
  position: relative;
  /* height: 50%; */
}

/* .target-number {
  background-color: palegoldenrod;
  height: 70%;
} */


.crystals {
  text-align: center;
}

.crystal-img {
  padding: 10% 0;
  width: 15%;
}

.crystal-img:hover {
  opacity: 50%;
  cursor: pointer;
}

.wins-losses {
  text-align: center;
  margin-top: 5%;
}



/* **************************************
MEDIA QUERIES
************************************** */

@media screen and (max-width: 1650px) {

  .instructions {
    padding: 0 20% 0;
    color: white;
  }

  @media screen and (max-width: 1460px) {

    .instructions {
      padding: 0 20% 0;
      max-width: 75%;
      color: white;
    }

    @media screen and (max-width: 1360px) {

      .instructions {

        color: white;
      }

}
